@import "compass_twitter_bootstrap";

html{
  background-color: $grayLighter;
}

.container {
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 40px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06) inset, 0 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06) inset, 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06) inset, 0 0 0 1px rgba(0, 0, 0, 0.2);
}

header{
  padding-bottom: 5px;
  .source{
    margin-top:45px;
    float:right;
  }
}

article{
  .title{
    text-transform: uppercase;
  }
}

section{
  padding-bottom: 20px;
  .title{
    font-weight: bold;
  }
  .date{
    float: right;
    font-style:italic ;
  }
}

.divider{
  border-top: solid 1px $gray;
  margin-bottom: 20px;
}

footer{
  text-align: center;
  color: $grayLight;
  margin-bottom: 20px;
}

@media print{
  .container{
    margin-top: 0px !important;
  }

  footer{
    display: none;
  }

  .btn{
    display: none;
  }
}
